.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  height: auto;
}

@media (max-width: 800px) {
  .mainContainer {
    gap: 2.5rem;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    gap: 2rem;
  }
}

@media (max-width: 400px) {
  .mainContainer {
    gap: 1.5rem;
  }
}

@media (max-width: 300px) {
  .mainContainer {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .priority{
    display: flex;
    flex-direction: column-reverse;
  }
}
